.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f6f9;
}

.card {
  width: 100%;
  padding: 20px;
  background: white;
  border: 2px solid black;
}

.large {
  width: 600px;
}

.input {
  width: 100%;
  padding: 6px;
  margin-bottom: 10px;
  border: 1px solid black;
}

.button {
  width: 100%;
  padding: 8px;
  background: black;
  color: white;
  border: none;
  margin-top: 10px;
}

.register-btn {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
}

.otp-box {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin: 15px 0;
}

.otp-box input {
  width: 100%;
  height: 40px;
  text-align: center;
  border: 1px solid black;
}

.grid {
  display: flex;
  gap: 20px;
}

.grid input {
  display: block;
  width: 100%;
  margin-bottom: 8px;
}